.treepage {
    padding-top: 50px; /* Add padding to push content below the fixed nav bar */
    margin-left: 30px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 10px #6dd5ed, 0 0 20px #2193b0;
    margin-bottom: 20px;
}

/* In your SkillTree.css */
.node text {
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  