.App {
  text-align: center;
}

/* Custom Scrollbar */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 243, 255, 0.2);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00F3FF, #4DABF7);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 243, 255, 0.8);
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #4DABF7, #00F3FF);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1C1C1E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #00F3FF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
